<form id="tweet_form" class='pure-form pure-form-stacked' action='/tweet/create' method='POST'>
  <label>Tweet Something<textarea cols='50' rows='10' name='tweet[text]' placeholder='Your Tweet'></textarea></label>
  <input class='pure-button pure-button-primary' type='submit' value="Submit">
</form>
